.pulse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  animation: pulse 2s infinite;
  background-color: rgba(255, 255, 255, 0.6); /* Default red; override per type */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  /* 50% {
    transform: scale(1.5);
    opacity: 0.5;
  } */
  100% {
    transform: scale(4);
    opacity: 1;
  }
}

/* Type-specific overrides */
.pulse.disaster {
  background-color: rgb(255, 255, 255);
}

.pulse.crisis {
  background-color: rgb(255, 255, 255);
}

.pulse.ngo {
  background-color: rgb(255, 255, 255);
}
